@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  text-align: center;
  background: #6b61ff;
  font-family: "Montserrat", sans-serif;
}
.container {
  padding: 3rem;
  border-radius: 50px;
  background: #6b61ff;
  box-shadow: inset 20px 20px 60px #6052d9, inset -20px -20px 60px #707eff;
}
input {
  font-family: "Montserrat", sans-serif;
  padding: 0.3rem;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1rem;
}

input:focus{
    border: 2px solid black;
}
button {
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
}
button:hover {
 color: #fff;
 background: black;
}
.for-invalid-input {
  display: none;
  background-color: rgb(197, 61, 61);
  border-radius: 5px;
  padding: 0.2rem;
  color: #fff;
}

.show {
  display: block;
}
